In [1]:
import numpy as np 
import pandas as pd

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('/content/2010-capitalbikeshare-tripdata.csv')

In [4]:
data = data[data['End date']>=data['Start date']]

In [5]:
data['Start date']= pd.to_datetime(data['Start date'],format='%Y-%m-%d %H:%M:%S')
data['End date']= pd.to_datetime(data['End date'],format='%Y-%m-%d %H:%M:%S')

In [6]:
data['Start_year'] = data['Start date'].dt.year
data['Start_month'] = data['Start date'].dt.month
data['Start_day'] = data['Start date'].dt.day
data['Start_hour'] = data['Start date'].dt.hour
data['Start_minute'] = data['Start date'].dt.minute
data['Start_second']  =data['Start date'].dt.second

In [7]:
data['End_year'] = data['End date'].dt.year
data['End_month'] = data['End date'].dt.month
data['End_day'] = data['End date'].dt.day
data['End_hour'] = data['End date'].dt.hour
data['End_minute'] = data['End date'].dt.minute
data['End_second']  =data['End date'].dt.second

In [8]:
for l in data:
    if(data[l].dtype=='object'):
        data[l]= data[l].astype('category')
        data[l]= data[l].cat.codes

In [9]:
data =data.drop(columns=['Start date','End date','Start station','End station','Start_year','End_year','Start_minute','End_minute','Start_second','End_second'])

In [10]:
data.head()

   Duration  Start station number  ...  End_day  End_hour
0      1012                 31208  ...       20        11
1        61                 31209  ...       20        11
2      2690                 31600  ...       20        12
3      1406                 31600  ...       20        12
4      1413                 31100  ...       20        12

[5 rows x 11 columns]

In [11]:
data.shape

(115595, 11)

In [12]:
X  = data.drop(columns=['Member type'])
y = data['Member type']

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

In [15]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_score
models = []

# models.append(("LogisticRegression",LogisticRegression()))
# models.append(("SVC",SVC()))
# models.append(("LinearSVC",LinearSVC()))
# models.append(("KNeighbors",KNeighborsClassifier()))
models.append(("DecisionTree",DecisionTreeClassifier()))
models.append(("RandomForest",RandomForestClassifier()))
rf2 = RandomForestClassifier(n_estimators=100, criterion='gini',max_depth=10, random_state=0, max_features=None)
models.append(("RandomForest2",rf2))
models.append(("XGBoost",XGBClassifier()))
results = []
names = []
for name,model in models:
    result = cross_val_score(model, X_train, y_train,  cv=3)
    names.append(name)
    results.append(result)

for i in range(len(names)):
    print(names[i],results[i].mean())

DecisionTree 0.7924939083293684
RandomForest 0.8701789293077843
RandomForest2 0.8641377222198191
XGBoost 0.8642098129965253

In [16]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print('Accuracy = ',accuracy_score(y_pred,y_test))

Accuracy =  0.8738916043081448